
/* --- --- colors --- --- */

$black: hsl(0,0%,0%);
$white: hsl(0,0%,100%);
$disabled: hsl(0,0%,86%);

$success: hsl(152,92%,38%);
$successHover: hsl(152,92%,30%);

$warning:hsl(37,92%,53%);
$warningHover:hsl(37,92%,45%);

$danger: hsl(358,100%,64%);
$dangerHover: hsl(358,100%,56%);

$primaryDarkest: hsl(270,98%,40%);
$primaryDark: hsl(270,98%,45%);
$primary: hsl(270,98%,50%);
$primaryLight: hsl(270,98%,75%);
$primaryLightest: hsl(270,98%,90%);

$greyDarkest: hsl(0,0%,75%);
$greyDark: hsl(0,0%,85%);
$grey: hsl(0,0%,90%);
$greyLight: hsl(0,0%,95%);

