@import '../01_config/mixins';

.page {
  @include flexbox(column, center, center);
  background: #3a7bd5;
  background: -webkit-linear-gradient(to bottom, #3a6073, #3a7bd5);
  background: linear-gradient(to bottom, #3a6073, #3a7bd5);
}

.flxbox {
  @include flexbox();
  padding: 1rem;
  margin: 1rem;

  &--backlit {
    background-color: rgba(0, 212, 255, 0.2);
    border-radius: 8px;
  }

  &--col {
    flex-direction: column;
  }

  &--center {
    align-items: center;
    justify-content: center;
  }
}
