.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0,212,255);
  background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%, rgba(0,3,150,1) 100%);
}

.inline-section {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .inline-section__backlight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    padding: 3rem;
    background-color: rgba(0,212,255,0.2);
    border-radius: 8px;
  }
}